<!DOCTYPE html>
<html>
<head>
    <style>
        body { font-family: Arial; padding: 20px; }
        h1 { color: #007BFF; }
        .section { margin-bottom: 30px; }
        img { max-width: 100%; height: auto; }
    </style>
</head>
<body>
    <h1>AgroSense Report</h1>

    <div class="section">
        <h2>Water Footprint</h2>
        <p>Crop: {{ crop }}</p>
        <p>Area: {{ area }} hectares</p>
        <p>Blue: {{ blue }} m³</p>
        <p>Green: {{ green }} m³</p>
        <p>Gray: {{ gray }} m³</p>
        <p><strong>Total: {{ total }} m³</strong></p>
    </div>

    <div class="section">
        <h2>Weed Detection</h2>
        <p>Result: {{ weed_result }}</p>
        <img src="static/prediction{prediction_number}.jpg" alt ="weed detection output">
    </div>

    <div class="section">
        <h2>Plant Disease Detection</h2>
        <p>Result: {{ disease_result }}</p>
        <img src="static/disease_result.jpg" alt="Disease Detection Output">
    </div>
</body>
</html>
